<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Wiserbrand_VpnProduct::vpnproduct"
            title="Custom Catalog"
            module="Wiserbrand_VpnProduct"
            sortOrder="30"
            parent="Magento_Catalog::inventory"
            action="vpn_product/catalog/"
            resource="Wiserbrand_VpnProduct::vpnproduct"
        />
    </menu>
</config>
